USE [80Twenty]
GO
/****** Object:  Table [dbo].[Q2_survey]    Script Date: 07/07/2017 8:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Q2_survey](
	[id] [smallint] NULL,
	[ageband] [smallint] NULL,
	[gender] [smallint] NULL,
	[education] [smallint] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Q2_survey] ([id], [ageband], [gender], [education]) VALUES (1, 3, 6, 7)
INSERT [dbo].[Q2_survey] ([id], [ageband], [gender], [education]) VALUES (2, 1, 6, 7)
INSERT [dbo].[Q2_survey] ([id], [ageband], [gender], [education]) VALUES (3, 2, 5, 7)
GO
