USE [80Twenty]
GO
/****** Object:  Table [dbo].[coin flippling]    Script Date: 07/07/2017 8:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coin flippling](
	[time of flip] [datetime] NULL,
	[flipper] [varchar](8) NULL,
	[flip result] [varchar](1) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[coin flippling] ([time of flip], [flipper], [flip result]) VALUES (CAST(N'1899-12-30T08:12:16.000' AS DateTime), N'Gavin', N'T')
INSERT [dbo].[coin flippling] ([time of flip], [flipper], [flip result]) VALUES (CAST(N'1899-12-30T08:12:31.000' AS DateTime), N'Amnon', N'T')
INSERT [dbo].[coin flippling] ([time of flip], [flipper], [flip result]) VALUES (CAST(N'1899-12-30T08:12:37.000' AS DateTime), N'Abe', N'T')
GO
